/* Fonts  1) Teko 2) Asap Condensed 3) Questrial */
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* default changes ------------------------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
    width: 100px;
}


button{
    border: 0;
    padding: 14px 30px;
    cursor: pointer;
    border: 1px solid slategrey;
    background-color: #F0F0F0;
}

button:hover{
    background-color: #ece9e9;
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    align-items: center;
}

/* header ------------------------------- */
.header{
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 99;
    background: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.155);
}
ul>li>a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-items li>a{
    border-radius: 7px;
    border: 1px solid white;
    width: 100%;
    font-size: 15px;
    padding: 10px 16px;
}
.nav-items li:hover{
    border: 1px solid black;
}
.logo{
    width: 100px;
    margin-left: 1rem ;
}
.burger{
    display: none;
    color: black;
    cursor: pointer;
}
.nav-items{
    display: flex;
    width: 600px;
    align-items: center;
    justify-content: space-between;
}
.show{
    display: block;
}
.none{
    display: none;
}
.nav-items-md{
    align-items: end;
    padding-right: 2rem;
}
.nav-items-md>li>a{
    margin-bottom: 1rem;
    padding: 5px;
    border: 1px solid white;
}
.nav-items-md.show>li>a:hover{
    border: 1px solid black;
}
.nav-cont{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.body{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.title{
    margin: 1rem 5%;
    background: white;
    font-family: "Asap Condensed", sans-serif;
}

.menu{
    display: flex;
    width: 100%;
    align-items: center;
}

.res-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    min-height: 57vh;
    gap: 2rem;
}

.res-name{
    font-family: "Asap Condensed", sans-serif;
    font-weight: 600;
    font-style: semi-bold;
    font-size: 22px;
}

/* Cards */

.res-card{
    width: 250px;
    height: 300px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.res-card:hover{
    transform: scale(0.9);
}

.img-container{
    width: 100%;
    height: 65%;
    position: relative;
}
.content{
    padding-top: 5%;
}

.co2{
    position: absolute;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    bottom: 5%;
    left: 5%;
    color: white;
    font-size: 27px;
    text-shadow: -5px 5px 20px black;
}

.star{
    width: 20px;
    height: 20px;
}

.rating{
    display: flex;
    gap: 4px;
    font-weight: 700;
    position: absolute;
    /* clear: both; */
    right: 5%;
    top: 2%;
}
.details {
    position: relative;
}
.details > h3{
    width: 75%;
}
.details > p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    font-weight: 100;
}

.resimg{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
/* search ---------------- */
.search-container{
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.search-box{
    margin-left: 3rem;
    padding: 14px 130px 14px 8px;
    border: 1px solid slategrey;
}
.search{
    margin: 0;
    /* background: #000; */
}

input:focus{
    outline: none;
}
.Signin{
    background-color: black;
    color: white;
}

.Signin:hover{
    background-color: black;
    color: white;
}

.filter{
    margin: 0 1rem;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer---------------------------- */
footer{
    height: 4rem;
    width: 100%;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.415);
    border-bottom: 1px solid rgba(0, 0, 0, 0.415);
    position: relative;
    bottom: 0;
    left: 0;
}

footer > p > a{
    font-weight: 700;
    text-decoration: none;
    color: black;
}

footer{
    margin-bottom: auto;
}

/* about---------------------- */
.about{
    width: 90%;
    height: 500px;
    margin: 2rem 0;
    background-repeat: no-repeat;
    background-position: left;
    overflow: hidden;
    color: white;
    border-radius: 13px;
    position: relative;
}
.about img{
    width: 100%;
    height: 100%;
}
.abt-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: large;
    top: 7rem;
    left: 2rem;
    right: 2rem;
}

.abt-cont>h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 1rem;
}

.abt-cont>p{
    text-align: center;
    width: 60%;
}

.abt-cont>a{
    text-decoration: none;
    padding: 10px 12px;
    background-color: white;
    color: black;
    margin-top: 2.5rem;
    font-weight: 500;
}

.abt-cont>a:hover{
    color: white;
    background: transparent;
    border: 1px solid white;
}

/* -------------------------------------- */
.menu-lis{
    display: flex;
    margin: 0 auto;
    /* background-color: red; */
    flex-direction: column;
    padding: 2rem 0;
    overflow: hidden;
    width: 70%;
    
}
.ratings{
    display: flex;
    gap: 4;
}
.detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.type{
    width: 20px;
    height: 20px;
}
.light{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    color: rgb(135, 133, 133);
}
.item{
    padding: 10px;
    border-bottom: 1px solid black;
}
.price{
    margin: 3px 0;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.priceImg{
    width: 25px;
    height: 20px;
}
.menu-title{
    display: flex;
    align-items: center;
    gap: 5px;
}
.item-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item-btn{
    padding: 5px 8px;
}
.veg{
    color: green;
}
.nv{
    color: red;
    display: flex;
}
.f{
    font-family: "Asap Condensed", sans-serif;
}
.tit{
    margin-top: 10px;
}
a{
    color: black;
    text-decoration: none;
}
.tp-container{
    display: flex;
    padding: 20px;
    gap: 2rem;
    height: 100%;
}
.top-picks{
    width: 100%;
    height: 260px;
    overflow-x: scroll;
}
.tp-cont{
    height: 200px;
    border-radius: 12px;
    position: relative;
}
.tp-cont>button{
    position: absolute;
    background: white;
    padding: 4 5;
    border: 0;
    font-size: 12px;
    font-weight: 700;
    color: green;
    bottom: 10;
    right: 10;
}
.tp-cont>button:hover, .item-btn:hover{
    background: rgb(220, 220, 220);
}
.tp-cont > img{
    border-radius: 12px;
    width: 200px;
    height: 100%;
}

.contact{
    border: 2px solid black;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}
.contact>p{
    margin: 10px 0 8px;
}
.contact>h5{
    margin-top: 4px;
}
.contact>img{
    width: 130px;
    border-radius: 50%;
}

@media only screen and (max-width: 1100px) {
    .res-container{
        width: 90%;
        grid-template-columns: 250px 250px 250px;
    }
}
    
@media only screen and (max-width: 1000px) {
    .body{
        width: 100%;
    }
    header{
        flex-direction: column;
        align-items: flex-end;
    }
    .header{
        width: 100%;
    }
    .burger {
        margin-right: 2rem;
        display: block;
    }
    .about{
        width: 100%;
    }
    .nav-items{
        display: none;
    }
    .search-container{
        width: 100%;
        margin: 1rem;
        flex-direction: column;
    }
    .search-box{
        margin: 0;
        padding: 14px 30px;

    }
    .search-button,.invide{
        padding: 14px 30px;
    }
    .search{
        margin-bottom: 1rem;
    }
    .search-container{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .res-container{
        grid-template-columns: 250px 250px 250px;
        justify-content: center;
    }
    button{
        padding: 8px 16px;
    }
}

@media only screen and (max-width: 800px){
    .res-container{
        grid-template-columns: 250px 250px;
        gap: 3rem;
    }
    .about{
        width: 90%;
    }
    .abt-cont{
        top: 4rem;
    }
    .abt-cont>a{
        margin-top: 1.5rem;
    }
    .abt-cont>p{
        width: 80%;
    }
    .abt-cont{
        margin: 0;
    }
}  

@media only screen and (max-width: 700px){
    .res-container{
        grid-template-columns: 250px 230px;
    }
}  

@media only screen and (max-width: 600px){
    .res-container{
        grid-template-columns: 1fr 1fr;
    }
}  

@media only screen and (max-width: 550px){
    .res-container{
        grid-template-columns: 250px;
    }
}   